html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url('https://img.freepik.com/foto-gratis/fondo-pintura-acuarela-azul-vibrante_53876-148110.jpg?t=st=1725306244~exp=1725309844~hmac=87cc343fb836b5c6f08a230872af2eeace68be8febc459c09f7fca5d9b314fdc&w=1380') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar-nav {
    margin-left: auto;
}

.navbar, footer {
    background-color: #8345c9;
}

.chat-list {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    flex-grow: 1;
}

.chat-item {
    display: flex;
    align-items: center;
}

.chat-item-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.ms-3 {
    margin-left: 1rem;
}

.chat-item:hover {
    background-color: #f0f0f0;
}

.chat-window {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}

.message {
    max-width: 75%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
}

.message.bg-primary {
    background-color: #8345c9;
    color: #fff;
    align-self: flex-end;
}

.message.bg-secondary {
    background-color: #6c757d;
    color: #fff;
    align-self: flex-start;
}

.input-group {
    margin-top: auto;
}

footer {
    background-color: #8345c9;
    color: white;
    text-align: center;
    position: bottom;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .social-icons a {
    color: white;
    font-size: 24px;
}

.footer a:hover {
    color: #fff; 
}

.btn-outline-secondary, .btn-primary {
    background-color: #8345c9;
    color: white;
    border: none;
}

.btn-outline-secondary:hover, .btn-primary:hover {
    background-color: #6428a1;
}

.bg-dark {
    background-color: #8345c9 !important;
}
